html
{
	/*
	width/height of the block = content`s width/height + margin
	+ padding + border

	"box-sizing: border-box" means that width and height
	are the sizes of the block,
	not the sizes of the content.
	*/
	box-sizing: border-box;
}

*, *::after, *::before
{
	box-sizing: inherit;
}

body
{
	font-size: 14px; /*fz14 + tab*/
	font-family: 'Lato', sans-serif;
	font-family: 400;
	line-height: 24px;
	color: #4a6385;
}


a
{
	color: black;
	text-decoration: none;
	display: inline-block;
}

/*	HEADER 30-73
================================
================================
================================*/
.header
{
	border-top: 1px solid #3a83e5;
}

.container
{
	max-width: 1170px; /*maw1170 + tab*/
	margin: 0 auto; /*
	blocks with fixed width centering:
	0 - top/bottom
	auto - left/right
	*/
	padding: 0 15px;
	/*p0-15
	for content not to stuck near to borders
	*/ 
}

.header__inner
{
	display:flex;
	justify-content: space-between;
	align-items: center;
	min-height: 87px; /*mh87 + tab*/
}

.btn-menu
{
	width: 50px;
	display: none;
}

.btn-menu div
{
	height: 5px;
	margin-bottom: 10px;
	background-color: red;
}


.menu__list
{
	display: flex;
}

.menu__list li
{	
	margin-left: 38px; /*ml38 + tab*/
}

.menu__list a
{
	font-size: 14px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	color: #2f3f54;
}


/*TOP 92-246
==============
==============
==============
==============
*/

.top
{
	background-color: #3a84e5; /*bc*/
	padding-top: 150px; /*pt150 +tab*/
	padding-bottom: 180px; /*pb180 +tab*/
}

.top__inner /*for separation "top-info" and "top-images"*/
{
	display:flex;
}

.top-info
{
	max-width: 555px;
	margin-right: 35px;
	color: white;
}

/*use plugin CSSTractor:
1. select code in html doc
2. push right mouse button
3. run css tractor

result: ready selectors for tags*/


/*.top-info__subtitle {}*/
.top-info__title
{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 48px;
	line-height: 52px;
	text-transform: uppercase;
}

.top-info__description
{
	font-size: 19px;
	font-weight: 700;
	line-height: 52px;
	margin-bottom: 35px;
}

.top-info__description span
{
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	display: block;
}

.top-info__list
{
	/*disable markers*/
	list-style: none; 
	margin-bottom: 50px; /*mb50 + tab*/
}

.top-info__list li
{
	font-size: 16px;
	font-weight: 700;
	line-height: 27px;
	position: relative;
	padding-left: 24px;
}

.top-info__list li::before
/*use a pseudo-element
for a sign before list items*/
{
	content: "";
	background-image: url(../images/list_item.png);
	width: 13px;
	height: 13px;
	position: absolute;
	left: 0; /*begin at the left border*/
	top: 50%;
	transform: translateY(-50%); /**/
}

.top-info__btn
{
	font-size: 14px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	color: white;
	text-transform: uppercase;

	border: 3px solid white;
	padding: 13px 44px;
	border-radius: 25px;
}
.top-info__btn-description {
}
.top-images
{

}


/*
the circle is relative to the box
*/
.top-images__box
{
	position: relative;
}

.top-images__circle
{
	width: 230px;
	height: 230px;
	background-color: white;
	border-radius: 50%; /*transform square to the circle*/

	display: flex;
	flex-direction: column;
	justify-content: center; /*align in center*/
	align-items: center; /*to set in the circle`s center*/

	position: absolute; /*it may be moved*/
	/*the circle will be in position (top, right) relative to box*/
	/*firstly set top = right = 0, then change
	and choose best in browser elements*/
	top:-40px;
	right:-90px;

	font-size: 14px;
	color: #212121;
}

.top-images__title
{
	text-align: left;
	margin-bottom: 15px;
	width: 140px;
}

.top-images__price
{
	font-size: 54px;
	font-weight: 700;
	margin-bottom: 7px;

}

.top-images__date
{
	text-align: right;
	width: 140px;
}

/*PRICE 256-405
==============
==============
==============
==============
*/

.price
{
	padding: 150px 0 180px;
}

.title
{
	color: #2f3f54;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
}

.title span
{
	color: #2575e7;
}

.price__description
{ 
	text-align: center;
	max-width: 594px;
	margin: 35px auto 125px;
}

.price__items
{
	display: flex;
	justify-content: space-between;
}

.price-item
{
	max-width: 360px;
	/*
	box-shadow is copied from photoshop layout
	*/
	box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
	padding: 0 55px 65px;


	position: relative;
	overflow: hidden; /*cut borders*/

}

.price-item__value
{
	width: 265px;
	height: 465px;
	border-radius: 135px;

	font-family: 'Roboto', sans-serif;
	font-size: 33px;
	font-weight: 700;

	color: white;
	background-color: #2575e7;

	margin: 0 auto;

	position: absolute;
	top: -370px;

	display: flex;
	align-items: flex-end;
	justify-content: center;

	padding-bottom: 35px;
}

.price-item__value span
{
	font-size: 16px;
}

.price-item__images
{
	padding-top: 125px;
	text-align: center;
	margin-bottom: 35px;

	min-height: 245px; /* [padding-top] + [height of the highest picture]*/
}

.price-item__title 
{
	margin-bottom: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;

	text-align: center;

	color: #267ae9;
}

.price-item__text
{
	margin-bottom: 50px;
}

.price-item__list
{
	margin-bottom: 75px;
	list-style: none;
}

.price-item__list li
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 12px;
	padding-left: 35px;

	position: relative;	
}

.price-item__list li::before{
	background-image: url(../images/check.png);
	content: "";
	position: absolute;
	
	left: 0;
	top:50%;
	transform: translateY(-50%); /*center on the y-axis*/
	
	height: 11px;
	width: 15px;
}

.price-item__btn 
{
	font-size: 17px;
	font-weight: 700;
	color: white;
	background-color: #267ae9;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 20px 110px;
}


/*FOOTER 414-519
==============
==============
==============
==============
*/
.footer
{
	background-color: #334357;
	padding: 85px 0 120px;
	color:#718db2;
}


.foooter__inner
{
	display: flex;
	justify-content: space-between;
}

.footer-col__logo
{
	width: 265px;
}

.footer__title
{
	color: #d0e4ff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-bottom: 30px;
}

.footer-logo
{
	margin-bottom: 30px;
}

.foooter__text
{
	line-height: 22px;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.footer-menu
{
	width: 165px;
}

.footer__list
{
	list-style: none;
}

.footer__list a
{
	font-size: 13px;
	margin-bottom: 8px;
	color:#718db2;
}

.footer-form
{
	width: 265px;
}

.footer-form input, .footer-form textarea
{
	border: 1px solid rgba(255,255,255,0.5);
	background-color:transparent;
	height: 38px;
	display: block;
	width: 100%;
	padding: 0 12px;

	color:#718db2;
	font-weight: 400;
	font-size: 11px;
	font-family: 'Lato', sans-serif;
}

.footer-form input::placeholder, .footer-form textarea::placeholder
{
	color:#718db2;
	font-weight: 400;
	font-size: 11px;
	font-family: 'Lato', sans-serif;
}

.footer-form textarea
{
	padding: 12px;
	height: 85px;

	resize: none; /*disable resizing*/

	margin-bottom: 10px;
}

.footer-form button
{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	background-color: #2575e7;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.review
{
	background-color: #fafafa;
	padding: 120px 0;
}

.reviews-slider
{
	margin-top: 160px;
}

.reviews-slider .slick-list
{
	margin: 0 -50px;
}

.reviews-slider .slick-slide
{
	margin: 0 50px;
	padding-bottom: 70px;	
}

.reviews-slider .slick-dots
{
	list-style: none;
	display: flex;
	justify-content: center; /*jcc + tab*/
	margin-bottom: 50px;
}

.reviews-slider .slick-dots li
{
	margin: 0 10px;
}

.reviews-slider .slick-dots li.slick-active button
{
	background-color: #fff;
	border: 2px solid #2575e7;
}


.reviews-slider .slick-dots button
{
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	padding: 0;
	border: none;
	background-color: #2575e7;	

	outline: none;
}

.reviews-slider__item
{
	/*padding-bottom: 50px;*/
}

.reviews-box
{
	display: flex;
	box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.reviews-box__images
{
	display: flex;
	background-color: #2575e7;
	width: 190px;
	min-height: 350px;
	align-items: center;
	justify-content: center;
}

.reviews-box__images img
{
	border-radius: 50%;
}

.reviews-box__content
{
	background-color: #fff;
	width: 330px;

	font-size: 16px;
	line-height: 26px;

	padding: 0 35px;

	min-height: 350px;

	flex-direction: column;
}

.reviews-box__text
{
	margin-bottom: 30px;
}

.reviews-box__author
{

}

/*PARTNERS*/
.partners-items
{
	margin-top: 195px;
	margin-bottom: 105px;
	background-color: #fff;
	display: flex;
	justify-content: center;
}

.partners-items img
{
	min-height: 85px;
	margin-left: 35px;
}
